<%= form_with model: [ @article, @article.comments.build ] do |form| %>

	<% @article.errors.full_messages_for(:body).each do |message| %>
		<div><%= message %></div>
	<% end %>

	<div>
		<%= form.label :commenter %><br>
		<%= form.text_field :commenter %>
	</div>

	<div>
		<%= form.label :body %><br>
		<%= form.text_area :body %><br>
	</div>

	<div>
		<%= form.submit %>
	</div>
<% end %>