<div class="card m-5 text-center " style="width: 23rem;">
	<%= image_tag @article.cover_image.url %>
	<div class="card-body">
		<h1><%= @article.title %></h1>
		<p class="card-text"><%= @article.body %></p>
		<div class="card-body m-3">
			<div class="btn btn-warning"><%= link_to "Edit", edit_article_path(@article) %>
			</div>
			<%= link_to "Destroy", article_path(@article), 
					method: :delete,
					data: { confirm: "Are You Sure?"} %>
		</div>
	</div>
	
</div>


<div class="container">
	<div class="p-5">
		<h2>Comments:</h2>
		<%= render @article.comments %>

		<h2>Add a comment:</h2>
		<%= render "comments/form" %>
	</div>

</div>